body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Ubuntu';
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1280px;
    max-width: 100%;
}

.item-list{
    display: none;
}

.item{
    margin-top: 10px;
    background-color: #121212;
    width: 550px;
    border-radius: 5px;
}

.item .title{
    width: 100%;
    background-color: rgb(201, 201, 201);
    overflow: hidden;
}

.item .title h2{
    margin: 0;
    padding: 5px 15px 5px;
    display: block;
    font-size: 28px;
}
.item .title span{
    margin: 0;
    padding: 0px 15px 5px;
    display: block;
    font-size: 17px;
}

.item .content{
    width: 100%;
    overflow: hidden;
}

.item .content .img-preview{
    width: 100%;
}